$grid-breakpoints: (xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px);

$colorDark: rgb(51, 51, 53);
$colorRed: rgb(113, 39, 37);
$colorBlack: rgb(5, 5, 5);
$colorBrick: rgb(158, 51, 40);

$colorWhite: #fff;
$bgColorMain: #1d1d1d;
$mainBlue: #5CC5DE;
$bgOrange: #DE755C;
$bgLight: #eef1f4;
$mainGreen: #74CF99;
$bgHeaderGrey: rgba(222, 227, 231, 0.9);

$font-size-micro : 9px;
$font-size-mobile : 10px;
$font-size-small : 11px;
$font-size-medium : 12px;
$font-size-large : 13px;
$font-size-xxl : 14px;

$mainBg: "https://phonoteka.org/uploads/posts/2021-06/1623444215_32-phonoteka_org-p-oranzhevii-gradient-tekstura-krasivo-33.jpg";
$bgMainCar: "~@/assets/img/bg-main5.jpg";
$carSmall1: "~@/assets/img/car-small1.jpg";
$carSmall2: "~@/assets/img/car-small2.jpg";
$carSmall3: "~@/assets/img/car-small3.jpg";
$carSmall4: "~@/assets/img/car-small4.jpg";

$iconCallUs: "~@/assets/img/icon-call-us.png";
$iconEmailUs: "~@/assets/img/icon-email-us.png";

$iconSearch: "~@/assets/img/icon-search.svg";


@font-face {
  font-family: "Neometric Alt";
  font-weight: 300;
  font-style: normal;
  src: url("~@/assets/fonts/NEOMETRICALT-LIGHT.TTF") format("opentype");
}

@font-face {
  font-family: "Neometric Alt";
  font-weight: 400;
  font-style: normal;
  src: url("~@/assets/fonts/NEOMETRICALT-REGULAR.TTF") format("opentype");
}

@font-face {
  font-family: "Neometric Alt";
  font-weight: 500;
  font-style: normal;
  src: url("~@/assets/fonts/NEOMETRICALT-MEDIUM.TTF") format("opentype");
}

@font-face {
  font-family: "Neometric Alt";
  font-weight: 700;
  font-style: normal;
  src: url("~@/assets/fonts/NEOMETRIC-BOLD.TTF") format("opentype");
}

// ITALIC

@font-face {
  font-family: "Neometric Alt";
  font-weight: 100;
  font-style: italic;
  src: url("~@/assets/fonts/NEOMETRICALT-EXTRALIGHTITALIC.TTF") format("opentype");
}

@font-face {
  font-family: "Neometric Alt";
  font-weight: 300;
  font-style: italic;
  src: url("~@/assets/fonts/NEOMETRICALT-LIGHTITALIC.TTF") format("opentype");
}

@font-face {
  font-family: "Neometric Alt";
  font-weight: 400;
  font-style: italic;
  src: url("~@/assets/fonts/NEOMETRIC-MEDIUMITALIC.TTF") format("opentype");
}

@font-face {
  font-family: "Neometric Alt";
  font-weight: 700;
  font-style: italic;
  src: url("~@/assets/fonts/NEOMETRIC-BOLDITALIC.TTF") format("opentype");
}

@font-face {
  font-family: "Neometric Alt";
  font-weight: 900;
  font-style: italic;
  src: url("~@/assets/fonts/NEOMETRIC-EXTRABOLDITALIC.TTF") format("opentype");
}