$grid-breakpoints: (xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px);

$colorDark: rgb(51, 51, 53);
$colorWhite: #fff;
$bgColorMain: #1d1d1d;
$mainBlue: #5CC5DE;
$bgOrange: #DE755C;
$bgLight: #eef1f4;

$font-size-micro : 10px;
$font-size-mobile : 14px;
$font-size-small : 16px;
$font-size-medium : 16px;
$font-size-large : 17px;
$font-size-xxl : 18px;

$mainBg: "https://phonoteka.org/uploads/posts/2021-06/1623444215_32-phonoteka_org-p-oranzhevii-gradient-tekstura-krasivo-33.jpg";